*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "comodo";
    src: url("http://koorka.in/plist/fonts/comodo/comodo-regular.ttf");
}
.siteContainer {
	background-color: transparent;
}
.link {
	text-decoration: none;
	color: black;
}
.header {
 	height: 60px;
    width: 100%;
    background-color: transparent;
    opacity: 0.9;
}
.logo {
	font-family: 'comodo', ;
	font-size: 30px;
	color: black;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

@media only screen and (max-width: 600px) {

@font-face {
    font-family: "comodo-regular";
    src: url("http://koorka.in/plist/fonts/comodo/comodo-regular.ttf");
}
.link {
	text-decoration: none;
	color: black;
}
.logo {
	text-align: center;
	font-family: 'comodo';
	font-size: 30px;
	color: black;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

  body {
    background-color: white;
  }
  .header {
 	height: 60px;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    top: 0px;
    bottom: 5px;
  }
  .container1 {
  	height: 900px;
    width: 100%;
    /*background-color: lightgreen;*/
    background-image:    url(images/bg.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
  }
  .container2 {
  	height: 100%;
    width: 100%;
    background-color: black;
  }
  .firststage {
  	padding: 25px;
  }
  .firstimg {
  	border-radius: 10px 10px 0px 0px;
  	width: 100%;
  	height: 100px;
  	background-size: cover;
  	background-image: url(images/first.JPG);
  	align-content: center;
  	padding: 20px;
  }
  .textbox {
  	border-radius: 0px 0px 10px 10px;
  	background-color: gray;
  	padding: 10px;
  }
  .head1 {
  	color: white;
  	font-family: "Allerta Stencil", Sans-serif;
  }
  .text1 {
  	color: white;
  }
  .head2 {
  	color: white;
  }
  .text2 {
  	color: white;
  }
  .container3 {
  	width: 100%;
  }
  .iframe {
  	bottom: 0px;
  	border-width: 0px;
  }
  .headtext {
  	position: relative;
    min-height: 300px;
  	padding-top: 50px;
  	left: 25px;
  	width: 90%;
  	font-size: 12px;
  	margin-bottom: 50px;
  	padding: 40px;
	color: white;
  }
  h1, h2, h3, h4, h5, h6 {
  	/*font-family: "Comic Sans MS", cursive, sans-serif;*/
  }
  .w3text {
  	font-family: "Allerta Stencil", Sans-serif;
  	font-size: 20px;
  	text-align: justify;
  	position: absolute;
    bottom: 0;
    left: 0;
  }
  .launchimg {
  	top: 100px;
  	margin: 25px;
  	width: 80%;
  	height: 200px;
  	background-size: cover; 
  	background-image: url(images/launch.png);
  }

}