*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "comodo";
    src: url("http://koorka.in/plist/fonts/comodo/comodo-regular.ttf");
}
.siteContainer {
	background-color: lightgray;
}
.link {
	text-decoration: none;
	color: black;
}
.header {
 	height: 60px;
    width: 100%;
    background-color: transparent;
    opacity: 0.9;
}
.logo {
	font-family: 'Chelsea Market', ;
	font-size: 30px;
	color: black;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .header {
 	height: 60px;
    width: 100%;
    background-color: transparent;
    opacity: 0.9;
  }
  .container1 {
  	height: 250px;
    width: 100%;
    background-color: black;
  }
  .iframe {
  	border-width: 0px;
  }
}