@font-face{font-family:DINPro-Medium;src:url(fonts/DINPro-Medium.woff2) format("woff2"),url(fonts/DINPro-Medium.woff) format("woff"),url(fonts/DINPro-Medium.otf) format("opentype");font-style:normal;font-weight:400;font-display:block}@font-face{font-family:DINPro-Light;src:url(fonts/DINPro-Light.woff2) format("woff2"),url(fonts/DINPro-Light.woff) format("woff"),url(fonts/DINPro-Light.otf) format("opentype");font-style:normal;font-weight:400;font-display:block}@font-face{font-family:DINPro-Bold;src:url(fonts/DINPro-Bold.woff2) format("woff2"),url(fonts/DINPro-Bold.woff) format("woff"),url(fonts/DINPro-Bold.otf) format("opentype");font-style:normal;font-weight:400;font-display:block}@font-face{font-family:DINPro-Regular;src:url(fonts/DINPro.woff2) format("woff2"),url(fonts/DINPro.woff) format("woff"),url(fonts/DINPro.otf) format("opentype");font-style:normal;font-weight:400;font-display:block}
/* latin */
@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'), url(https://fonts.gstatic.com/s/architectsdaughter/v10/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4-7jA-U.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* telugu */
  @font-face {
    font-family: 'Tenali Ramakrishna';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tenali Ramakrishna'), local('TenaliRamakrishna'), url(https://fonts.gstatic.com/s/tenaliramakrishna/v6/raxgHj6Yt9gAN3LLKs0BZVMo8jmwn1-MM5_rclJ_tdyo.woff2) format('woff2');
    unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
  }
  /* latin */
  @font-face {
    font-family: 'Tenali Ramakrishna';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tenali Ramakrishna'), local('TenaliRamakrishna'), url(https://fonts.gstatic.com/s/tenaliramakrishna/v6/raxgHj6Yt9gAN3LLKs0BZVMo8jmwn1-ML5_rclJ_tQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
@font-face {
  font-family: 'Piedra';
  font-style: normal;
  font-weight: 400;
  src: local('Piedra Regular'), local('Piedra-Regular'), url(https://fonts.gstatic.com/s/piedra/v8/ke8kOg8aN0Bn7hTelUaGFfAngc6Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Piedra';
  font-style: normal;
  font-weight: 400;
  src: local('Piedra Regular'), local('Piedra-Regular'), url(https://fonts.gstatic.com/s/piedra/v8/ke8kOg8aN0Bn7hTem0aGFfAngQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url(https://fonts.gstatic.com/s/neucha/v11/q5uGsou0JOdh94bfuQltKRZUgbxR.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url(https://fonts.gstatic.com/s/neucha/v11/q5uGsou0JOdh94bfvQltKRZUgQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(./images/fdd.jpg)  center center no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: DINPro-Bold,Arial,Verdana,sans-serif;
}
.scontainer{
    background: rgba(0, 0, 0, 0.79)
}
section{
   
}
#images{
    height: auto;
    padding: 0px 10px;
}
#about{
    background: black;
    padding: 100px 0px;
    height: 180vh;
}
.start-contents{
    height: 100vh;
}
.header{
    height: 100px;
    width: 100%;
    background: white;
}
.contents{
    padding: 20px;
}
.logo{
    float: left;
}
.i-top{
    float: right;
    font-size: 24px;
}
.nav{
    padding-top: 20px;
    text-align: center;
}
.o{
    margin: 0px 13px;
    display: inline-block;
    cursor: pointer;
    color: gray;
    height: 20px;
    animation: all 0.3s linear ;
}
.o:active{
    border-bottom: 4px solid red;
}
.colorr{
    margin: 0px 100px;
}

.titles{
    padding-top: 50%;
    text-align: center;
    color: white;
}
.goo{
    text-align: center;
    padding-bottom: 30%;
}
.btn{
    height: 45px;
    width: 150px;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.btn:hover{
    background: rgba(255, 255, 255, .3);
}

.launch-america{
    text-align: center;
}
.text{
    padding: 30px;
    text-align: justify;
    color: white;
    font-family: 'Neucha', cursive;
    font-size: 22px;
}
.patch{
    
  
}

.patch img{
    margin: 30px 10px;
    object-fit: cover;
    height: 200px;
    width: 180px;
}
.patch-text{
    float: right;
    text-align: justify;
    color: white;
    padding: 25px;
    font-family: sans-serif;

}
.ns{
    margin-top: 100px;
    display: flex;
    padding: 0px 40px;
    background: black;
}
.nasa img{
    height: 30px;
    width: 80%;
    margin: 30px;
    filter: grayscale(100%);
}
.spacex img{
    margin: 30px;
    height: 30px;
    width: 80%;
    filter: invert(40%);

}
.c-img{
    width: 88%;
    margin: 25px 0px 0px 0px;
}


.c-img img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    z-index: 1;
}


.plus{
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
    z-index: 22;
    padding: 12px;
    border-radius: 10px;
    margin-top: -60px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.plus:hover{
    background: rgba(0, 0, 0, 1);

}

#cplus{
    text-align: justify;
    height: 200px;
    width: 100%;
    margin-top: 5px;
    position: relative;
    z-index: ;
    border-radius: 15px 15px 15px 15px;

}

.c-con{
    background: white;
    color: black;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
}


.blackbox{
    height: 50px;
    width: 88%;
    background-color:white;
    backdrop-filter: blur(20px);
    color: black;
    margin: 0px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.blackbox:active{
    background-color: #2196f3;

}
.blackbox .ccc{
    padding: 15px;
    font-size: 20px;
}

.popup{
    position: relative;
    z-index: 0;
    height: 300px;
    width: 88%;
    margin: 20px 0px; 
    padding: 10px 0px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}
.popup span {
    font-family: 'Piedra', cursive;
    font-size: 22px;
    font-weight: bold;
}

.popup h4 {
    font-family: 'Piedra', cursive;
    font-size: 19px;
}
.footer{
    height: 30px;
    padding: 20px;
    background: white;
    color: black;
    bottom: 0;
}
.c{
    float: right;
    color: gray;
    line-height: 2;
}
.s{
    float: left;
    font-size: 32px;
    cursor: pointer;
}


#events{
    padding: 150px 0px;
}

.gallerydiv {
    height: auto;
    width: 80%;
    display: flex;
}


.g{
    height: auto;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.f-img{
    height: 400px;
    width: 50%;
    padding: 4px;
}
.s-img{
    height: 400px;
    width: 50%;
    object-fit: cover;
    padding: 2px;
}

.f-img img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.s-img img{
    height: 200px;
   width: 100%;
   object-fit: cover;
}